@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(http://fonts.googleapis.com/css?family=Pacifico);

*, *:before, *:after {

    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 50px auto;
}

.container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.dropdown a {
    text-decoration: none;
}

.dropdown [data-toggle="dropdown"] {
    position: relative;
    display: block;
    color: white;
    background: #2c89c6;
    -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
    padding: 10px;
}

.dropdown [data-toggle="dropdown"]:hover,
.dropdown [data-toggle="dropdown"].selected {
    background: cadetblue;
}

#member_leftmenu {
    position: fixed;
    z-index: 99;

}