@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(http://fonts.googleapis.com/css?family=Pacifico);

*, *:before, *:after {

    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 50px auto;
}

.container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#member_leftmenu .dropdown:nth-of-type(1) a.selected:after {
    margin-left: 74px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#member_leftmenu .dropdown:nth-of-type(3) a.selected:after {
    margin-left: 74px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#member_leftmenu .dropdown:nth-of-type(2) a.selected:after {
    margin-left: 78px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#theater_leftmenu .dropdown:nth-of-type(1) a.selected:after {
    margin-left: 85px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#theater_leftmenu .dropdown:nth-of-type(3) a.selected:after {
    margin-left: 85px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#theater_leftmenu .dropdown:nth-of-type(4) a.selected:after {
    margin-left: 85px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#theater_leftmenu .dropdown:nth-of-type(2) a.selected:after {
     margin-left: 58px;
     content: '';
     display: inline-block;
     position: absolute;
     width: 15px;
     height: 15px;
     background: #7D9EC0;
     border-top: 1px solid #7D9EC0;
     border-right: 1px solid #7D9EC0;
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
 }

#manager_leftmenu .dropdown:nth-of-type(1) a.selected:after {
    margin-left: 85px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#manager_leftmenu .dropdown:nth-of-type(2) a.selected:after {
    margin-left: 85px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#manager_leftmenu .dropdown:nth-of-type(3) a.selected:after {
    margin-left: 58px;
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #7D9EC0;
    border-top: 1px solid #7D9EC0;
    border-right: 1px solid #7D9EC0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown a {
    text-decoration: none;
}

.dropdown [data-toggle="dropdown"] {
    position: relative;
    display: block;
    color: white;
    background: #2c89c6;
    -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
    padding: 10px;
}

.dropdown [data-toggle="dropdown"]:hover,
.dropdown [data-toggle="dropdown"].selected {
    background: #7D9EC0;
}

#member_leftmenu {
    position: fixed;
    z-index: 99;

}

#theater_leftmenu {
    position: fixed;
    z-index: 99;

}

#manager_leftmenu {
    position: fixed;
    z-index: 99;

}

.user-f5{
    text-align: center;
    /*width: 5em; !*这个值是看最长能显示几个文字，如x，则为x em*!*/
}
.user-f4{
    text-align: center;
    letter-spacing:0.33em;  /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（6-5）/(5-1)=0.25em */
    margin-left:5.3em;  /*同上*/
}

.the-man-f4{
    text-align: center;
    /*width: 4em;*/
}
.the-man-f2{
    text-align: center;
    letter-spacing:2em;
    margin-left:5.8em;
}
